###########################
### PostgreSQL settings ###
###########################

# set to dev to install usershub in development mode
mode=prod

# Effacer la base de donnée existante lors de la réinstallation
drop_apps_db={{ postgresql.dropdb }}
# Host de la base de données de l'application
db_host={{ postgresql.db.host }}
# Port du serveur PostgreSQL
pg_port={{ postgresql.db.port }}
# Nom de la base de données de l'application
db_name={{ postgresql.db.name }}
# Nom de l'utilisateur propriétaire de la BDD de l'application
user_pg={{ postgresql.db.user }}
# User propriétaire de la BDD de l'application
user_pg_pass={{ postgresql.db.upassword }}
# Intégrer les données minimales (Applications et tags)
insert_minimal_data={{application.settings.minimal}}
# Intégrer les données exemple (Role, groupe, organismes et correspondances)
insert_sample_data={{application.settings.sample}}

############################
### Application settings ###
############################

# URL de l'application
url_application=http://{{ application.config.fqdn }}.fr


#######################
### Python settings ###
#######################

# Note : n'est compatible qu'avec python3
python_path=/usr/bin/python3

#########################
### Gunicorn settings ###
#########################

app_name=usershub2
venv_dir=venv
gun_num_workers=4
gun_host=0.0.0.0
gun_port={{ application.config.serverport }}